.container {
    padding-inline: 5vw;
}

.about-paragraph {
    font-size: large;
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid grey;
}

.image {
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    width: 50%;
}