.detail-title {
    margin-bottom: 1rem;
}

.note-textarea {
    color: #333333;;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #333333;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 75%;
    margin: auto;
    margin-top: 3vh;
}

.subtitle {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin-bottom: 3vh;
}

.detail-text {
    color: black;
}